
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
</head>
<body>
<div class="container">
    <h1>Stock Project</h1>

    <a th:href="@{/stock/AAPL}">AAPL Chart</a>
    <a th:href="@{stock/list}">📊 Select Stock and Date</a>
    <a th:href="@{single-stock/single}">Single Day Selection</a>
</div>


<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>