<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<a th:href="@{/login}"> back to login</a>
<form th:action="@{/signup}" method="POST">

    <label>email</label>
    <input type="input" name="email" >
    <label>first name</label>
    <input type="input" name="firstname">
    <label>last name</label>
    <input type="input" name="lastname">
    <label>phone</label>
    <input type="number" name="phone">
    <label>password</label>
    <input type="password" name="password">
    <label>confirm password</label>
    <input type="password" name="confirm">
    <button type="submit">signup</button>


</form>

</body>
</html>